.container{
    max-width: 100%;
    width: 100%;
    min-height: 640px;
    background:black;
}
.container .slider_wrapper{
  /* width: 100vw;
  height: 100vh; */
  display: grid;
  grid-template-columns: repeat(3, 100%); 
  overflow-x: auto;
  scrollbar-width: none;
}
.slider_wrapper .image_list{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.slider_wrapper .image_list .img_item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 50%;
}

.image_list .home_text{
    display: flex;
    flex-direction: column;
    gap: .2em;
    position: absolute;
    font-size: 2em;
    top: 40%;
    left: 10%;
    z-index: 1000;
}
.home_text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}
.home_text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    width: 7.4em;
}
.home_text .bookButton{
    width: 40%;
    font-size: .8em;
    padding: 8px 15px;
    border-radius: 12px;  
}
.playbutton{
    position: absolute;
    right:-240%;
    bottom: -65%;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 50%;
    border: 5px solid rgb(2,3,7,0.4);
    display: flex;
}
.playbutton:hover{
    background-color: var(--main-color2);
    border-color: var(--main-color2);
    transition: .2s all linear;
}
.playbutton .faplay{
    color: var(--main-color2);
}
.playbutton:hover .faplay{
    color: var(--bg-color);
}

@media (max-width:1280px){
    .playbutton{
        right:-110%;
        bottom: -55%; 
    } 
}

@media (max-width:1080px){
    .home_text span{
        font-size: 20px;
    }
    .home_text h1{   
        font-size: 3rem;
        width: 7.4em;
    }
    .home_text .bookButton{
        width: 60%;
        font-size: .5em;
        padding: 8px 10px;
        border-radius: 9px;  
    }
    .playbutton{
        bottom: -65%; 
    } 
}

@media (max-width:768px){
    .playbutton{
        right:-50%;
        bottom: -75%; 
    } 
}

@media (max-width:640px){
    .home_text span{
        font-size: 15px;
    }
    .home_text h1{   
        font-size: 2rem;
        width: 7.4em;
    }
    .home_text .bookButton{
        width: 50%;
        font-size: .4em;
        padding: 8px 7px;
        border-radius: 6px;  
    }
    .playbutton{
        right: -90%;  
        bottom: -160%; 
    } 
}
@media (max-width:500px){
    .playbutton{
        right: -50%;  
    } 
}