.header{
    position: fixed; /*pour faire comme-ci le navbar n'occupe pas de l'espace*/
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    transition: 0.5s;
}
.header.shadows{ /*pour mettre un autre couleur lors du scroll*/
    background-color: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: .5em;
}
.header.shadows .logo{ /*pour mettre un autre couleur lors du scroll*/
    color: var(--text-color);
}
.logo .bxs-movie{
    font-size: 25px;
    color: var(--main-color2  );
}

.option_container{
    display: flex;
    column-gap: 5rem;
}
.option_container li{
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bg-color);
}
.header.shadows .option_container li{
    color: var(--text-color);
}

.option_container li::after{  /*pour mettre une ligne en bas des options un peu animé en mettant en bas un hover*/
    content: '';
    height: 3px;
    width: 0;
    background-color: var(--main-color2);
    border-radius: 5px;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.2s all linear;
}
.option_container li:hover::after ,.option_container .home_actives::after{ /*j'ai mis le hover mais en rendant le home toujours active*/
    width: 100%;
}

#menu_icon{
    font-size: 33px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
    padding: 4px;
    background-color: transparent;
    border-radius: 5px;
}
#menu_icon:hover{
    background-color: rgba(248, 248, 248, 0.277);
    transition: .2s all linear;
}
.header.shadows #menu_icon{
    color: var(--text-color);
}

.btn{
    font-size: 15px;
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 10px;
}



@media (max-width:991px) {
    .header{
        padding: 20px 40px;
    }
    .option_container{
        column-gap: 3.5rem;
    }
    .option_container li{
        font-size: 1.1rem;
    }
}

@media (max-width:774px) {
    .header{
        padding: 20px 30px;
    }
    #menu_icon{
        display: inline;
    }
    .option_container{
        position:absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        text-align: center;
        transition: .3s all linear;
    }
    .option_container.active{
        transition: .3s all linear;
        top: 100%;
      
    }
    .option_container li{
        color: var(--text-color);
    }
    .option_container li a:hover{
        color: var(--main-color2);
        border-bottom: solid 2px var(--main-color2);
        transition: .1s all linear;
    }
    .option_container li::after{
        display: none;
    }

@media (max-width:472px) {
    .header{
        padding: 5px 20px;
    }
}

}