header{
    position: fixed; /*pour faire comme-ci le navbar n'occupe pas de l'espace*/
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    transition: 0.5s;
    /* background-color: var(--main-color);  */
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: .5em;
}
.logo .bxs-movie{
    font-size: 25px;
    color: var(--main-color2  );
}

.option_container{
    display: flex;
    column-gap: 5rem;
}
.option_container li{
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bg-color);
}
.option_container li::after{  /*pour mettre une ligne en bas des options un peu animé en mettant en bas un hover*/
    content: '';
    height: 3px;
    width: 0;
    background-color: var(--main-color2);
    border-radius: 5px;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.2s all linear;
}
.option_container li:hover::after ,.option_container .home_actives::after{ /*j'ai mis le hover mais en rendant le home toujours active*/
    width: 100%;
}

#menu_icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn{
    font-size: 15px;
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 10px;
}